<div class="home">
    <a href="./service-catalogue">
    </a>
      
</div>


<div class="service">
    <a href="./sessions">
    <!-- <button class="button button1" id="one"> Book An Appointment </button>   -->
    </a>
    <a href="./consultation">
    <!-- <button class="button button1" id="two"> Book A Consultation </button>   -->
    </a>
    
</div> 


<div class="product">
    <a href="./product-catalogue">
   <!--  <button class="button button1" id="three"> Product Catalogue </button>  -->
    </a>
</div>

<div class="shoot">

</div>

