
<div class="container">
   <h2>TUTORIALS</h2> 
     <div class="flex-container">
         <p>
             Studio hours me show you how being a virtuous woman today is possible –
             and my guess is you are already well on your way to living out God’s purpose for your life. 
             And that’s what Proverbs 31 Studio hours me show you how being a virtuous woman today is possible –
             and my guess is you are already well on your way to living out God’s purpose for your life. 
             And that’s what Proverbs 31
         </p>   
     </div>  
   
    <div class="row justify-content-around"> 

      <iframe width="300" height="250" src="https://www.youtube.com/embed/ss7eUtaL88w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <iframe width="300" height="250" src="https://www.youtube.com/embed/0vgO_vvm7sE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <iframe width="300" height="250" src="https://www.youtube.com/embed/YtQDrbaTC3A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
        <iframe width="300" height="250" src="https://www.youtube.com/embed/l48RpdjEr1w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
        <iframe width="300" height="250" src="https://www.youtube.com/embed/v9_yB8JFRhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       
        <iframe width="300" height="250" src="https://www.youtube.com/embed/ss7eUtaL88w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

     </div>  
</div>  